---
layout: archive
title: "Research"
permalink: /research/
author_profile: false
---

Liquid-vapor interfaces are ubiquitous in both natural and engineered devices. We often dont notice it but they are all around us! The cup of coffee on your desk, the tree outdoor, the AC unit indoor, they all have liquid-vapor interfaces and are undergoing “evaporation” in some form. Curved interfaces (such as droplets and bubbles) are particularly interesting becasue they exhibit unique properties due to surface tension thereby sigificantly altering evaporation dynamics. In turn, the evaporation deforms and moves the interface. The intricate coupling between coupling between evaporation and interface dynamics becomes critical when surface tension is the dominant force such as in the microgravity of space or mirco/nano-scale devices on earth. 

At UCLID, we study multi-phase transport phenomena using a combination of visualization tools, theory, and modeling. We work on a variety of topics including but not limited to nano-/micro-scale heat transfer (thin film evaporation, boiling, condensation, electronics cooling), building energy (HVAC, dehumidification), manufacturing (evaporative deposition, colloidal self-assembly), space technology (cryogenics, variable-gravity fluid management). Liquid-vapor interfacial dynamics is at the core of each of these technologies and forms the backbone of the research conducted at UCLID. A sampling of current projects are shown below. Please contact <a href="mailto:bellurkn@ucmail.uc.edu">Prof. Bellur</a> for an updated listing.

{% include base_path %} 

{% for post in site.research %}
    {% include archive-single.html %}
{% endfor %}




<!---



Liquid-vapor phase change is ubiquitous in both natural and engineered devices. It's happening around us - all the time. The cup of coffee, the tree outdoor, the AC unit indoor, they are all undergoing "evaporation" in some form. Curved surfaces (such as droplets and bubbles) exhibit unique properties due to surface tension that alters evaporation. In turn, the evaporation further deforms and moves the interface. At UCLID, we focus on liquid-vapor phase change and associated interfacial dynamics. We study multi-phase transport phenomena using a combination of visualization tools, theory, and modeling. We work on a variety of topics including but not limited to boiling, condensation, dehumidification, evaporative deposition, colloidal self-assembly, porous media transport, electronics cooling, cryogenics, variable-gravity fluid management, and nano-/micro-scale heat transfer.


<H2>Accommodation coefficients of LH2 and LCH4 : Cryo-Neutron Experiments</H2>


Under construction

--->


